.u-section-1 .u-sheet-1 {
  min-height: 1804px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.8);
  height: 1025px;
  margin-top: 103px;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-1 .u-text-1 {
  margin: -913px 73px 0 67px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 330px;
  margin: 1000px 100px 0 auto;
}

.u-section-1 .u-image-2 {
  min-height: 410px;
  background-image: url("images/pexelsphoto733546.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 550px;
  margin: -375px auto 0 17px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -100px 14px 2px 670px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 712px;
  }

  .u-section-1 .u-image-2 {
    min-height: 637px;
  }

  .u-section-1 .u-image-3 {
    width: 470px;
    height: 452px;
    margin-top: -481px;
  }

  .u-section-1 .u-text-2 {
    margin: -110px 0 60px 484px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-image-3 {
    width: 360px;
    height: 346px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -4px;
    margin-bottom: -45px;
    margin-left: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1820px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1245px;
  }

  .u-section-1 .u-image-2 {
    min-height: 1470px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 270px;
    height: 260px;
    margin-top: -1604px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -162px;
    margin-bottom: 60px;
    margin-left: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1238px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 1006px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -1133px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 830px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 150px 384px 0 350px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 280px;
  margin: 173px auto 0 270px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/pexelsphoto733546.jpeg");
  min-height: 272px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-image-2 {
  width: 255px;
  height: 272px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -271px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 280px;
  height: 272px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -273px 295px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 280px;
  height: 270px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -271px 0 0 auto;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 71px auto 60px 129px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 284px;
    margin-left: 285px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 174px;
    margin-left: 218px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 84px;
    margin-left: 164px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 260px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 260px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 60px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 60px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
  min-height: 714px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2));
  height: 707px;
  margin: 8px 0 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -639px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 52.8px;
  font-weight: 500;
  margin: 10px 82px 0 40px;
}

.u-section-3 .u-text-2 {
  margin: 90px 46px 0 25px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 534px;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 530px;
  height: 360px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 14px 0 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 50px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 421px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    z-index: 2;
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    line-height: 1.1;
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    z-index: 0;
    min-height: 440px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 319px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 202px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 230px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 668px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -10px;
  margin-bottom: -137px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 815px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 910px;
  transform-origin: left center;
  margin: 24px -465px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 125px 365px 0 24px;
}

.u-section-4 .u-text-2 {
  margin: 106px 30px 0 10px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 815px;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-4 .u-line-2 {
  width: 910px;
  transform-origin: left center;
  margin: 24px auto 0 -471px;
}

.u-section-4 .u-image-1 {
  height: 480px;
  width: 490px;
  object-position: 50% 50%;
  background-position: 50% 0%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 105px 25px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 289px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 672px;
  }

  .u-section-4 .u-image-1 {
    height: 460px;
    width: 470px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 360px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-4 .u-line-2 {
    width: 360px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 352px;
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 773px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-4 .u-line-2 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 332px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: -3px;
  height: 520px;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 522px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 506px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 507px;
  background-image: url("images/rE4mJyJ2pmUrHsAqigo56H1sJN1nJz2WZA5l4T+wietqvVqVlEBHpD7UnVUFL0SypwsZiE6KqKeICGyMOYlVvQPWsgM1wlzvdO+gXxDa3kWr35piafdsg8AA==.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 411px 98px 0 67px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 507px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding-right: 51px;
  padding-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin: 153px 72px 0 215px;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 160px;
  min-width: 120px;
  margin: 16px 144px 0 auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-6 .u-image-1 {
    min-height: 418px;
  }

  .u-section-6 .u-text-1 {
    width: 375px;
    margin-left: 17px;
    margin-right: 48px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 42px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 81px;
    margin-left: 173px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 162px;
    margin-right: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-6 .u-image-1 {
    min-height: 320px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 61px;
    padding-right: 61px;
  }

  .u-section-6 .u-text-1 {
    width: 287px;
    margin: 177px 0 40px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 51px;
  }

  .u-section-6 .u-text-2 {
    width: 249px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-6 .u-image-1 {
    min-height: 480px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: 269px;
    margin-top: 40px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: 234px;
    margin-top: 245px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-social-icons-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-6 .u-image-1 {
    min-height: 302px;
  }
}