 .u-section-1 {
  min-height: 576px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 115px);
  left: 1075px;
  right: -50px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 57px calc(((100% - 1140px) / 2)  + 247px) 0 calc(((100% - 1140px) / 2)  + 463px);
}

.u-section-1 .u-text-2 {
  margin: 19px calc(((100% - 1140px) / 2)  + 342px) 0 calc(((100% - 1140px) / 2)  + 463px);
}

.u-section-1 .u-image-1 {
  width: 433px;
  height: 577px;
  margin: -374px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -95px calc(((100% - 1140px) / 2)  + 495px) 60px calc(((100% - 1140px) / 2)  + 585px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2)  + 115px);
    left: 875px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2)  + 147px);
    margin-left: calc(((100% - 940px) / 2)  + 363px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2)  + 242px);
    margin-left: calc(((100% - 940px) / 2)  + 363px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 395px);
    margin-left: calc(((100% - 940px) / 2) + 485px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2)  + 115px);
    left: 655px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 37px);
    margin-left: calc(((100% - 720px) / 2)  + 253px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + 132px);
    margin-left: calc(((100% - 720px) / 2)  + 253px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 285px);
    margin-left: calc(((100% - 720px) / 2) + 375px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2)  + 115px);
    left: 475px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 110px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2)  + 95px);
    margin-left: calc(((100% - 540px) / 2)  + 110px);
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 195px);
    margin-left: calc(((100% - 540px) / 2) + 285px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 452px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2)  + 115px);
    left: 275px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2)  + 5px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 453px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 29px;
    margin-right: calc(((100% - 340px) / 2) + 95px);
    margin-left: calc(((100% - 340px) / 2) + 185px);
  }
}